<footer class="footer">
  <ul class="footer__linkList list-unstyled">
     <li class="footer__listItem"><a href="#" class="footer__listLink">About PUBG Tracker</a></li>
     <li class="footer__listItem"><a href="#" class="footer__listLink">Help</a></li>
     <li class="footer__listItem"><a href="#" class="footer__listLink">Learn more</a></li>
     <li class="footer__listItem"><a href="#" class="footer__listLink">Share with friends</a></li>
   </ul>
   <div class="footer__logoContainer">
     <span class="footer__logoText">App by:</span>
      <svg-icon class="footer__logo" src="./assets/Images/Assets/Logo_Firstblood.svg"></svg-icon>
   </div>
</footer>