<div class="card card-body" [ngStyle]="{
  'background': bgc
}">
  <div class="card__header">
    <h2 class="card__heading">{{heading}}</h2>
    <div class="card__subheading"[hidden]="!subheading"><a class="card__subheadingLink" href={{linkUrl}}>{{subheading}}</a></div>
    <a [hidden]="!infoUrl" href={{infoUrl}} class="card__infoLink">
      <svg-icon src="./assets/Images/Assets/Icon_Info.svg"></svg-icon>
    </a>    
  </div>
  <div class="card__body">
    <ng-content></ng-content>
  </div>
</div>