<section class="activity">
  <fb-card
    [heading]="heading"
    [subheading]="subheading"
    [infoUrl]="infoUrl"
    [linkUrl]="linkUrl"
    [bgc]="bgc"
  >
    <div class="activity__table">      
        <div  *ngFor="let activity of activities" [ngSwitch]="iconFormat" class="activity__tableBody">
          <span class="activity__tableWIcon">
            <img src="{{activity.avatarUrl}}" alt={{activity.name}}>
            {{activity.name}}
          </span>
          <span>{{activity.activityTitle}}</span>
          
          <span *ngSwitchCase="'svg'">
            <svg-icon src={{activity.activityIcon}}></svg-icon>
          </span>
          <span *ngSwitchDefault>
            <img src="{{activity.activityIcon}}" alt={{activity.activityTitle}}>
          </span>
        </div>                    
    </div>

  </fb-card>
</section>