<section class="history">
  <fb-card
    [heading]="heading"
    [subheading]="subheading"
    [infoUrl]="infoUrl"
    [linkUrl]="linkUrl"
    [bgc]="bgc"
  >
  
    <div class="history__table">
      <div class="history__tableHead">
        <span>Mode</span>
        <span>Pos</span>
        <span>K</span>
        <span>Time</span>
        <span>Date &amp; Time</span>
        <span>PTS</span>
      </div>
    

      <div class="history__tableBody" *ngFor="let match of matches" >
        <span>{{match.mode}}</span>
        <span>{{match.pos}}</span>
        <span>{{match.k}}</span>
        <span>{{match.time}}</span>
        <span>{{match.date}}</span>
        <span [style.color]="'#7ED321'">{{match.PTS}}</span>
      </div>
    </div>
    <a href="#" class="history__link">Scroll for more</a>
  </fb-card>
</section>