.history {
  // height: 361px;
  // width: 328px;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-right: 10px;
}

:host /deep/ .card__header{
  margin-bottom: 0 !important;
}

.history__table{
  
}

.history__tableHead {  
  border-bottom: 1px solid rgba(255,255,255,0.05);;
  color: rgba(255,255,255,0.6);
  font-family: Verdana,"Bitstream Vera Sans", "DejaVu Sans",Arial;
  font-size: 10px;
  line-height: 12px;
  padding: 5px 0 7px 0;
  display: grid;
  grid-template-columns: 30px 20px 20px 50px 1fr 30px;
  grid-gap: 3px;
}
.history__tableBody{
  border-bottom: 1px solid rgba(255,255,255,0.05);;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 14px;
  padding: 6px 0 6px 0;
  vertical-align: bottom;
  display: grid;
  grid-template-columns: 30px 20px 20px 50px 1fr 30px;
  grid-gap: 3px;
}

.history__link {
  display: block;
  color: #46A6FF;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  margin: 15px auto 0;
  text-align: center;
}