 <div class="profile__challangeContainer">
  <fb-card>
    
    <div class="profile__challange">
      <div class="profile__challangeInfo">
        <h3 class="profile__challangeTitle">Play 3 games</h3>
        <span class="profile__challangeNumber">1</span>
        <i class="profile__challangeIcon">i</i>
      </div>
      <div class="progressbar"></div>
    </div>
    <div class="profile__challange">
      <div class="profile__challangeInfo">
        <h3 class="profile__challangeTitle">Place top 30 three times</h3>
        <span class="profile__challangeNumber">1</span>
        <i class="profile__challangeIcon">i</i>
      </div>
      <div class="progressbar"></div>
    </div>
    <div class="profile__challange">
      <div class="profile__challangeInfo">
        <h3 class="profile__challangeTitle">Win 1 Chicken Dinner</h3>
        <span class="profile__challangeNumber">1</span>
        <i class="profile__challangeIcon">i</i>
      </div>
      <div class="progressbar"></div>
    </div>

  </fb-card>
</div>