<section class="main">
  <div class="container">
    <div class="row">
      <div class="col" style="background-color: white;">
        <main class="main__container">
          <fb-profile></fb-profile>
          <fb-ladder></fb-ladder>
          <fb-history></fb-history>
         
          <section class="feed">
            <div class="card card-body">
              <div class="card__header">
                <h2 class="card__heading">ACTIVITY FEED</h2>                
              </div>
              <div class="card__body">
                <table class="table feed__statsTable">
                  
                  <tbody>
                    <tr>
                      <td>Elkynator</td>
                      <td>won bronze tickets</td>
                      
                      <td>i</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
  <footer>
    <ul class="footer__linkList">
       <li class="footer__listItem"><a href="#" class="footer__listLink">About PUBG Tracker</a></li>
       <li class="footer__listItem"><a href="#" class="footer__listLink">Help</a></li>
       <li class="footer__listItem"><a href="#" class="footer__listLink">Learn more</a></li>
       <li class="footer__listItem"><a href="#" class="footer__listLink">Share with friends</a></li>
     </ul>
     <div class="footer__logoContainer">
       <span class="footer__logoText">App by:</span>
       <div class="footer__logo">FB</div>
     </div>
  </footer>
</section>