.main__container{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  position: relative;
  height: 625px;
  max-width: 944px;
  background: radial-gradient( circle at top center,#4A2E4D 0%, #3F2742 14.57%, #000000 100%);
  margin: 24px auto 28px;
  font-family: 'korolev';
  padding: 35px 0 0 0;
  display: grid;
  grid-template-columns: 258px 1fr 1fr;
  grid-template-rows: 361px 179px 30px;
  grid-gap:10px;
}
.main__opacity{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity: 0.1;
  background-color: white; 
}