<section class="main">
  <div class="container">
    <div class="row">
      <div class="col" style="background-color: white;">
        <main class="main__container">
          <fb-profile></fb-profile>
          <section class="ladder">
            <div class="card card-body">
              <div class="card__header">
                <h2 class="card__heading">LADDER ROYALE</h2>
                <div class="card__subheading"><a class="card__subheadingLink" href="#">How ladder works?</a></div>
                <div class="card__infoIcon">i</div>
              </div>
              <div class="card__body">

                <div class="ladder__currentContainer">
                  <div class="ladder__mod">FPP Solo</div>
                  <div class="ladder__time">
                    <span class="ladder__timeText">Ends in:</span>
                    <div class="ladder__timeNumeral">02d:15h:08m</div>
                  </div>
                </div>
              
                <div class="ladder__profile">
                  <table class="table ladder__profileTable">
                    <tbody>
                      <tr>
                        <td>29</td>
                        <td class="profile__statsUp">Elkynator</td>
                        <td class="profile__statsUp">96 wins</td>
                        <td class="profile__statsDown">830 pts</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="progressbar"></div>
                  <div class="ladder__profilePlayed">
                    7/10 played
                  </div>
                </div>
                
                <table class="table ladder__table">
                  <thead>
                    <tr>
                      <th>Pos</th>
                      <th>Name</th>
                      <th>Kills</th>
                      <th>Wins</th>
                      <th>Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Elkynator</td>
                      <td>24</td>
                      <td>87</td>
                      <td>642</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Elkynator</td>
                      <td>24</td>
                      <td>87</td>
                      <td>642</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Elkynator</td>
                      <td>24</td>
                      <td>87</td>
                      <td>642</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Elkynator</td>
                      <td>24</td>
                      <td>87</td>
                      <td>642</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Elkynator</td>
                      <td>24</td>
                      <td>87</td>
                      <td>642</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          <section class="history">
            <div class="card card-body">
              <div class="card__header">
                <h2 class="card__heading">MATCH HISTORY</h2>                
                <div class="card__infoIcon">i</div>
              </div>
              <div class="card__body">
                <table class="table history__table">
                  <thead>
                    <tr>
                      <th>Mode</th>
                      <th>Pos</th>
                      <th>K</th>
                      <th>Time</th>
                      <th>Date &amp; Time</th>
                      <th>PTS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>FPP</td>
                      <td>46</td>
                      <td>12</td>
                      <td>14:35</td>
                      <td>3 min ago</td>
                      <td>120</td>
                    </tr>
                    <tr>
                      <td>FPP</td>
                      <td>46</td>
                      <td>12</td>
                      <td>14:35</td>
                      <td>3 min ago</td>
                      <td>120</td>
                    </tr><tr>
                      <td>FPP</td>
                      <td>46</td>
                      <td>12</td>
                      <td>14:35</td>
                      <td>3 min ago</td>
                      <td>120</td>
                    </tr>
                    <tr>
                      <td>FPP</td>
                      <td>46</td>
                      <td>12</td>
                      <td>14:35</td>
                      <td>3 min ago</td>
                      <td>120</td>
                    </tr>
                    <tr>
                      <td>FPP</td>
                      <td>46</td>
                      <td>12</td>
                      <td>14:35</td>
                      <td>3 min ago</td>
                      <td>120</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
          <section class="feed">
            <div class="card card-body">
              <div class="card__header">
                <h2 class="card__heading">ACTIVITY FEED</h2>                
              </div>
              <div class="card__body">
                <table class="table feed__statsTable">
                  
                  <tbody>
                    <tr>
                      <td>Elkynator</td>
                      <td>won bronze tickets</td>
                      
                      <td>i</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
  </div>
  <footer>
    <ul class="footer__linkList">
       <li class="footer__listItem"><a href="#" class="footer__listLink">About PUBG Tracker</a></li>
       <li class="footer__listItem"><a href="#" class="footer__listLink">Help</a></li>
       <li class="footer__listItem"><a href="#" class="footer__listLink">Learn more</a></li>
       <li class="footer__listItem"><a href="#" class="footer__listLink">Share with friends</a></li>
     </ul>
     <div class="footer__logoContainer">
       <span class="footer__logoText">App by:</span>
       <div class="footer__logo">FB</div>
     </div>
  </footer>
</section>