<div class="profile__infoContainer">
  <div class="profile__header">
    <img src="" alt="" class="profile__image">
    <div class="profile__name">
      <h1 class="profile__heading">Ducatipokemon</h1>
      <h2 class="profile__subheading">Elkynator</h2>
    </div>
  </div>
  <div class="profile__info">
    <div class="profile__infoHeader">
      <h3 class="profile__infoHeading">Token balance</h3>
    </div>
    <div class="profile__infoBody">
      <div class="profile__infoContent"></div>
      <a href="" class="profile__infoLink">Deposit tickets</a>
    </div>
  </div>
  <div class="profile__info">
    <div class="profile__infoHeader">
      <h3 class="profile__infoHeading">Ticket balance</h3>
    </div>
    <div class="profile__infoBody">
      <div class="profile__infoContent"></div>
      <a href="" class="profile__infoLink">+ Add Tokens</a>
    </div>
  </div>
  <div class="profile__stats">
    
    <table class="table profile__statsTable">
      <thead class="profile__statsTableHead">
        <tr>
          <th>Games</th>
          <th>Top 10%</th>
          <th>Win %</th>
          <th>K/D ratio</th>
        </tr>
      </thead>
      <tbody class="profile__statsTableBody">
        <tr>
          <td>24</td>
          <td class="profile__statsUp">74%</td>
          <td class="profile__statsUp">36%</td>
          <td class="profile__statsDown">36%</td>
        </tr>
      </tbody>
    </table>
                                
  </div>
</div>